<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PomiarWilgotnosci.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PomiarWilgotnosci.Properties.Settings>
            <setting name="voltage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="freq" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="delay" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="average" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ip_agilent" serializeAs="String">
                <value>11.22.33.44</value>
            </setting>
            <setting name="seconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="meas_file_name" serializeAs="String">
                <value>pomiary.txt</value>
            </setting>
        </PomiarWilgotnosci.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
