<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MultiplexerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <MultiplexerGUI.Properties.Settings>
        <setting name="ip_raspberrypi" serializeAs="String">
          <value>0.0.0.0</value>
        </setting>
        <setting name="ip_agilent" serializeAs="String">
          <value>kis121.kis.pff</value>
        </setting>
        <setting name="rb_serial" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="rb_paral" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="voltage" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="freq" serializeAs="String">
          <value>10000</value>
        </setting>
        <setting name="delay" serializeAs="String">
          <value>0.1</value>
        </setting>
        <setting name="average" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="electrodes" serializeAs="String">
          <value>16</value>
        </setting>
        <setting name="measurements_per_pair" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="cap_offset_file" serializeAs="String">
          <value/>
        </setting>
        <setting name="meas_file_name" serializeAs="String">
          <value/>
        </setting>
        <setting name="interval" serializeAs="String">
          <value>300</value>
        </setting>
      </MultiplexerGUI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
